.inviteCard {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--dark-text);
  padding: 1.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    flex-grow: 1;
    & p {
      & span {
        font-weight: 600;
      }
    }
  }

  &__actions {
    & button {
      border: none;
      background-color: transparent;
    }
  }
}