.header {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__navigation {
  position: absolute;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  & ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}
@media (min-width: 600px) {
  .header__navigation {
    display: block;
  }
}

.header__logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.header__authorization {
  display: flex;
  gap: .5rem;
  & a {
    padding: .5rem 1rem;
    border-radius: .5rem;
  }
}