.collectionCard {
  background-color: var(--secondary-color);
  color: var(--dark-text);
  display: flex;
  gap: 1rem;

  &__content {
    flex-grow: 1;
    &_name {
      font-weight: 600;
    }
    &_comment {
      opacity: .5;
      font-size: .75rem;
    }
  }
}