.collections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 500px) {
  .collections {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
  }
}